*{
margin:0; 
padding:0;
box-sizing:border-box;
}    

body{
background:#131418;       
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.wrapper input{
-webkit-appearance:none;  
height:60px;
width:130px;
border-radius:30px;
background:#FE5858;
transition:all .2s;
cursor:pointer;
}

.wrapper .circle{
height:50px; 
width:50px;
background:white;
border-radius:100%;
margin-top:-59px;
margin-left:8px;
transition:all .2s;
position:absolute;
cursor:pointer;
}

.wrapper input:checked{
background:#58DC76;        
transition:all .2s;
}

.wrapper input:checked ~ .circle{
margin-left:73px;  
transition:all .2s;
}
